<div class='page-full'>{% include 'areviews_one_product_data' %}</div>

				{% schema %}
				{
					"name": "Areviews - One Product",
					"class": "layout-funnel",
					 "settings":[  
					      {  
				             "type":"header",
				             "content":"Move the widget anywhere you want"
					      },
					       {  
				             "id":"areviews_one_product",
				             "type":"text",
				             "label":"Product ID (Required)"
					      }
					    ],
					"presets": [{
						"name": "Reviews - One Product Website",
						"category": "Areviews"
					}]
				}
				{% endschema %}