
<div class="container">
	<div class="row QS_btn_for_comment">
   <div class="col-md-12 qs_comment_tab">
    <div class="row">
     <div class="col-md-2 qs_comment_tab_btn qs_comment_tab_btn_active">Reviews (42)
     </div>
      <div class="active_border"></div>
      <div class="col-md-2 qs_comment_tab_btn">Questions (20)
     </div>
      <div class="col-md-6">
     </div>
      <div class="col-md-2"> Sort
     </div>
     </div>
    </div>
  
	</div>
  <div class="row">
  <div class="col-md-3 ">
     <div class="QS_comment_box">
    <img src="https://cdn.shopify.com/s/files/1/0346/0438/4395/files/testi1.PNG?v=1587484582"/>
    <img src="https://cdn.shopify.com/s/files/1/0346/0438/4395/files/testiimg.PNG?v=1587484875"/>
    </div>
     </div>
      <div class="col-md-3 ">
        <div class="QS_comment_box">
     <img src="https://cdn.shopify.com/s/files/1/0346/0438/4395/files/testi2.PNG?v=1587484623"/>
    </div> </div>
      <div class="col-md-3 ">
        <div class="QS_comment_box">
    <img src="https://cdn.shopify.com/s/files/1/0346/0438/4395/files/test3.PNG?v=1587484782"/>
    </div> </div>
   <div class="col-md-3 ">
     <div class="QS_comment_box">
    <img src="https://cdn.shopify.com/s/files/1/0346/0438/4395/files/testi_4.PNG?v=1587484961"/>
    </div> 
    <div class="QS_comment_box">
    <img src="https://cdn.shopify.com/s/files/1/0346/0438/4395/files/testi5.PNG?v=1587485078"/>
    </div></div>
    
	</div>
</div>

<style>
  .QS_comment_box
  {
   border: solid 1px #e5e5e5;
    border-radius:5px;
        padding: 1px;
    margin-top: 10px;
  }
  .QS_btn_for_comment
  {
    padding-top:25px;
  }
  .qs_comment_tab
  {
    
       border-bottom: solid 1px #ccc;
    padding: 13px;
    margin-bottom: 20px;
  }
  .qs_comment_tab_btn
  {
        border-right: solid 1px #ccc;
    text-align:center;
  }
    
  
 .qs_comment_tab_btn_active
  {
     // margin-bottom: 0px;
    //border-bottom: solid;
    //padding-bottom: 18px;
  }
</style>