<div class="row">
	<div class="container">
		<div class="row">
          <div class="col-md-6"></div>
          	
		</div>
      
            
 <div class="quotes-wrapper">
      <div class="quotes-slider" style="padding:30px;" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        	<div  style="" class="col-md-6 " >
            	<blockquote class="col-md-10 blockquote_item quotes-slider__text text-center">
                  "My 15 year old Border collie likes the smaller size of the kibble. She has become quite fussy with what she eats, but she does like this food."    
           		</blockquote>
              
              John Doe, <span class="highlight_text">Vetnaturals Customer</span>
          	</div>&nbsp;
          	<div  style="" class="col-md-6 " >
            	<blockquote class="col-md-10 blockquote_item quotes-slider__text text-center">
                      My dog has been eating this diet for 6 years now and she has been healthy so far. It's not the cheapest of all dog food but it does help her mobility and maintain her weight.
           		</blockquote>
              Julia Rohn, <span class="highlight_text">VetNatural's Customer</span>
          	</div>
      </div>
 </div>
      
      
      
      
      
      
      
      
  	</div>
</div>
